header {
  padding: 20px;
  font-family: 'Montserrat','Open Sans', sans-serif;
  background-color: rgb(31, 85, 70, 0.6)
          /*option: gradients*/

          /* gradient left right */
          /* background: #3f3fc5;
          background: linear-gradient(180deg,#3f3fc5 0%, #5aa7bb 50%, #a924a9 100%);
          background: -webkit-linear-gradient(180deg,#3f3fc5 0%, #5aa7bb 50%, #a924a9 100%);
          background: -moz-linear-gradient(180deg,#3f3fc5 0%, #5aa7bb 50%, #a924a9 100%); */

          /* gradient right left
          background: #3f3fc5;
          background: linear-gradient(90deg,#3f3fc5 0%, #5aa7bb 50%, #a924a9 100%);
          background: -webkit-linear-gradient(90deg,#3f3fc5 0%, #5aa7bb 50%, #a924a9 100%);
          background: -moz-linear-gradient(90deg,#3f3fc5 0%, #5aa7bb 50%, #a924a9 100%); */
}

header h1 {
  display: inline-block;
  font-size: 44px;
  color: #ffffff;
          /* using the text fill made the edges of the letter really hazy */
          /* -webkit-text-fill-color: #ffffff;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #e7d5d5 ; */
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;  
  font-family: 'Montserrat','Open Sans', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

header nav ul li a{
  color: rgb(31, 85, 70, 80%);
}


main{
  display: flex;
  color: #333333;
  font-family: 'Trebuchet MS', sans-serif;
}

.chris{
  height: 700px;
  width: 35%;
  background-image: url("../images/cg.png");
  background-size: cover;
  background-position: center;
  opacity: 50%;
}


main aside{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 700px;
  width: 65%;
  /* border for prep, troubleshooting purposes only*/
  /* border: 4px dashed green; */
}

main aside section h2{
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 5px;
}
main aside section h3{
  font-size: large;
}
main aside section p{
  font-size:medium;
}

main aside section ul li span{
  font-size:medium;
}

footer {
  background-color: rgb(31, 85, 70, 0.2);
  color: rgb(31, 85, 70, 80%);
  padding: 15px;
}

.bigWork{
  display: flex;
  justify-content: center;
  align-content: start; 
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  width: 90%;
  /* border for prep, troubleshooting purposes only*/
  /* border: 1px dotted magenta; */
  padding: 2px;
}

.bigCard {
  height: 100%;
  padding: 2px;
  text-align: start;
  border: 2px solid rgb(31, 85, 70, 60%);
  margin-bottom: 10px;
}


.bigImg{
  height: 225px;
  width: auto;
  /* border for prep, troubleshooting purposes only*/
  /* border: 1px solid red; */
}

.littleWork{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  /* border for prep, troubleshooting purposes only*/
  /* border: 2px dashed purple; */
  height: fit-content;
  width: 90%;
}

/* try to get the work titles to align at the top of the cards */
/* .item{
  align-self: flex-start;
  color: red;
} */

.littleCard{
  display: inline;
  text-align: center;
  border: 2px solid rgb(31, 85, 70, 60%);
  height: fit-content;
  width: fit-content;
}



.littleImg{
  height: 150px;
  width: fit-content;
  /* border for prep, troubleshooting purposes only*/
  /* border: 1px solid chartreuse; */
}

#aboutMe{
  margin: 10px 50px 40px;
  padding: 2px;
  height: 10%;
}
#work{
  margin: 10px 50px 40px;
  padding: 2px;
  height: 60%;
  width: 100%;
}
#contactMe{
  margin: 10px 50px 5px;
  padding: 2px;
  height:20%;
}